<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle demande de contact</title>
</head>
<body>
Bonjour, <br>

Voici les informations fournies par le contact:
<br>
Nom: {{ name }}
<br>
Prenom: {{ prenom }}
<br>
Email: {{ email }}
<br>

Message: {{ message }}


</body>
</html>