{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <section id="reserve-image" class="v2 background-cover"  style="background-image: url('{{ asset('images/108.jpg')}}');" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- MAIN TITLE WRAPPER -->
                    <div class="about-section-wraper text-center animated-element-1 delay1">
                        <h2>Modifier l'article</h2>

                    </div>
                    <!-- END MAIN TITLE WRAPPER -->
                </div>
            </div>
        </div>
    </section>
    <section id="reserve-form">
        <div class="container">
            <div class="row">
                <!-- SUSCRIBE FORM OUTER WRAPPER -->
                <div class="col-lg-10 col-lg-offset-1">
                    <!-- SUSCRIBE FORM INNER WRAPPER -->
                    <div class="block-box-rsrv">
                        <h1>Modifier l'article</h1>

                        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
                        <a href="{{ path('article_index') }}">back to list</a>
                        {{ include('article/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
